body {
    font-family: 'Times New Roman', serif;
    text-align: center;
    background-color: #f4f4f4;
}
body {
    background-image: url('potterhouse.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
button:hover {
    background-color: #45a049;
}
